.pagination {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;

  button {
    outline: none;
    background: transparent;
    color: rgba(var(--clr-light-rgb), 0.5);
    border: none;
    border-bottom: 1px solid transparent;
    font-family: var(--ff-main);
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;

    transition: all 70ms ease-in-out;

    &:hover {
      border-color: var(--clr-light);
      color: var(--clr-light);
      transition-delay: 125ms;
    }

    &.active {
      border-color: var(--clr-secondary);
      color: var(--clr-secondary);
    }
  }
}
