@use 'sass:color';

@import '_variables';
@import '_mixins';

* {
  box-sizing: border-box;
}

body {
  /* Css variables */
  // Colors
  @each $name, $color in $colors {
    --clr-#{""+$name}: #{$color};
    // Print into a variable only rgb values, to allow insertion into css rgba() values
    // ex : color: rgba(var(--clr-background-rgb), 0.5);
    --clr-#{""+$name}-rgb: #{color.red($color)}, #{color.green($color)}, #{color.blue($color)};
  }
  // Shapes
  @each $name, $shape in $shapes {
    --shape-#{$name}: #{$shape};
  }

  /* Custom css variables */
  --ff-main: 'Nanum Pen Script', sans-serif;
  --transition: all 125ms ease-in-out;
  --transition-on: 75ms;

  /* Common design. */
  font-family: var(--ff-main);
  font-size: 20px;
  line-height: 1.1;
  color: var(--clr-text);

  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;

  background-color: var(--clr-background);
  background-image: linear-gradient(0deg, var(--clr-background), black);
  background-repeat: no-repeat;
  background-position: center;
}

a {
  &,
  &:visited {
    color: var(--clr-text);
    text-decoration: none;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

%entrance {
  animation: show 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal backwards;

  @for $i from 1 through 3 {
    &:nth-child(3n + #{$i}) {
      animation-delay: $i * 100ms;
    }
  }
}

@import 'components/index';
@import 'pages/index';
