$shapes: (
  tile: 0.25rem,
);

$colors: (
  background: #151515,
  primary: #42b4ca,
  secondary: #bfde42,
  text: #ffffff,
  light: #ffffff,
  dark: #151515,
  dead: #151515,
  unknown: #8a00e6,
  alive: #5daa56,
);

$breakpoints: (
  xxs: 0px,
  xs: 375px,
  s: 575px,
  m: 767px,
  l: 991px,
  xl: 1199px,
) !default;
