* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  --clr-background: #151515;
  --clr-background-rgb: 21, 21, 21;
  --clr-primary: #42b4ca;
  --clr-primary-rgb: 66, 180, 202;
  --clr-secondary: #bfde42;
  --clr-secondary-rgb: 191, 222, 66;
  --clr-text: #ffffff;
  --clr-text-rgb: 255, 255, 255;
  --clr-light: #ffffff;
  --clr-light-rgb: 255, 255, 255;
  --clr-dark: #151515;
  --clr-dark-rgb: 21, 21, 21;
  --clr-dead: #151515;
  --clr-dead-rgb: 21, 21, 21;
  --clr-unknown: #8a00e6;
  --clr-unknown-rgb: 138, 0, 230;
  --clr-alive: #5daa56;
  --clr-alive-rgb: 93, 170, 86;
  --shape-tile: 0.25rem;
  --ff-main: 'Nanum Pen Script', sans-serif;
  --transition: all 125ms ease-in-out;
  --transition-on: 75ms;
  font-family: var(--ff-main);
  font-size: 20px;
  line-height: 1.1;
  color: var(--clr-text);
  margin: 0;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  background-color: var(--clr-background);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(var(--clr-background)),
    to(black)
  );
  background-image: linear-gradient(0deg, var(--clr-background), black);
  background-repeat: no-repeat;
  background-position: center;
}

a,
a:visited {
  color: var(--clr-text);
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.character > *,
.tile[class*='--character'] {
  -webkit-animation: show 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal backwards;
  animation: show 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal backwards;
}

.character > :nth-child(3n + 1),
.tile[class*='--character']:nth-child(3n + 1) {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.character > :nth-child(3n + 2),
.tile[class*='--character']:nth-child(3n + 2) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.character > :nth-child(3n + 3),
.tile[class*='--character']:nth-child(3n + 3) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

header {
  position: sticky;
  z-index: 20;
  top: 0;
  background: rgba(var(--clr-background-rgb), 0.95);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1),
    0px -1px 0px 0px rgba(var(--clr-secondary-rgb), 0.2) inset;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1),
    0px -1px 0px 0px rgba(var(--clr-secondary-rgb), 0.2) inset;
  margin: 0 0 2rem 0;
}

header > .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header > .container img#logo {
  display: block;
  margin: 0 auto;
}

main {
  position: relative;
  z-index: 10;
  padding-bottom: 2rem;
}

.tile {
  position: relative;
  border-radius: var(--shape-tile);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}

.tile[class*='--character'] {
  overflow: hidden;
  border-radius: 600px;
  -webkit-transition: -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 125ms;
  transition: -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 125ms;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 125ms;
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 125ms,
    -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 125ms;
}

.tile[class*='--character'] img {
  display: block;
  width: 100%;
  z-index: 1;
}

.tile[class*='--character'] h2 {
  z-index: 5;
  position: absolute;
  bottom: -2px;
  left: 0;
  margin: 0;
  padding: 0.5rem 22% 1rem 22%;
  width: 100%;
  font-weight: normal;
  text-align: center;
  line-height: 0.9;
  font-size: 1.5rem;
  background: rgba(var(--clr-background-rgb), 0.9);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 3px 3px 0 0;
}

.tile[class*='--character']:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 999;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px var(--clr-secondary);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px var(--clr-secondary);
}

.tile[class*='--character']:hover h2 {
  color: var(--clr-secondary);
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination button {
  outline: none;
  background: transparent;
  color: rgba(var(--clr-light-rgb), 0.5);
  border: none;
  border-bottom: 1px solid transparent;
  font-family: var(--ff-main);
  font-size: 1.5rem;
  width: 32px;
  height: 32px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 70ms ease-in-out;
  transition: all 70ms ease-in-out;
}

.pagination button:hover {
  border-color: var(--clr-light);
  color: var(--clr-light);
  -webkit-transition-delay: 125ms;
  transition-delay: 125ms;
}

.pagination button.active {
  border-color: var(--clr-secondary);
  color: var(--clr-secondary);
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.searchbar input[type='text'] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-dark);
  padding: 0.25rem 0.5rem;
  font-family: var(--ff-main);
  font-size: 1.25rem;
  color: var(--clr-text);
}

.searchbar input[type='text']:focus {
  outline: none;
  border-bottom-color: var(--clr-secondary);
}

.characters {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.characters__list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.character__hero {
  position: relative;
  border-radius: 100%;
}

.character__hero img {
  border-radius: 100%;
  max-width: 100%;
  z-index: 1;
}

.character__title {
  margin: 0;
  color: var(--clr-secondary);
  font-size: 4rem;
  text-align: center;
}

.character__details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}

.character__details > li {
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid rgba(var(--clr-light-rgb), 0.1);
}

.character__details > li > span {
  display: block;
}

.character__details > li > span:first-child {
  color: var(--clr-primary);
  font-size: 0.85em;
}

.character__details > li > span:last-child {
  color: var(--clr-secondary);
}

.character__details > li:last-of-type {
  grid-column: span 2;
}

.character__status {
  position: absolute;
  display: block;
  z-index: 10;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--clr-light);
  background: var(--clr-dark);
  -webkit-box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 125ms ease-out;
  transition: all 125ms ease-out;
}

.tile .character__status {
  -webkit-transform: translateX(-40%);
  transform: translateX(-40%);
  opacity: 0;
  bottom: calc(100% - 6px);
}

.tile:hover .character__status {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 1;
}

.character__status[class*='--alive'] {
  background-color: var(--clr-alive);
}

.character__status[class*='--dead'] {
  background-color: var(--clr-dead);
}

.character__status[class*='--unknown'] {
  background-color: var(--clr-unknown);
}

@media screen and (min-width: 0) and (max-width: 670px) {
  .searchbar input[type='text'] {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}

@media screen and (min-width: 768px) {
  .characters__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .characters__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
