<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <!-- SEO metadata. -->
  <title>Rick & Morty Tech Test</title>
  <meta name="robots" content="index, follow" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Rick & Morty Tech Test" />
  <meta property="og:url" content="http://localhost:5000/" />
  <meta property="og:site_name" content="Rick & Morty Tech Test" />
  <meta property="og:image" content="http://localhost:5000/assets/test.jpg" />
  <meta property="og:description" content="Rick & Morty Tech Test" />
  <meta name="description" content="Rick & Morty Tech Test">

  <!-- Structured data (SEO). -->
  <script type="application/ld+json">
    {}
  </script>

  <!-- Minimal favicon declaration to support all major browsers and devices. -->
  <meta name="theme-color" content="#FFFFFF" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="msapplication-config" href="/browserconfig.xml" />
  <link rel="icon" sizes="16x16" href="/static/images/favicons/favicon-16x16.png" />
  <link rel="icon" sizes="32x32" href="/static/images/favicons/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-icon-180x180.png" />

  <% for (var filePath in htmlWebpackPlugin.files.js) { %>
    <script async src="<%= htmlWebpackPlugin.files.js[filePath] %>"></script>
    <% } %>

      <style>
        /*WEBPACK_CSS*/
      </style>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
</head>

<body>
  <section id="root">
    <div>LOADING...</div>
  </section>
</body>

</html>